@font-face {
  src: url(/fonts/helvetica-neue-regular.ttf);
  font-family: Helvitica-Neue;
}

body {
  font-family: "Helvitica-Neue", sans-serif;
}

.heading-menu {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(23 43 77);
  margin-bottom: 20px;
}

.editor {
  color: #fff;
  background: #282a36;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-family: monospace;
  font-size: 14px;
  font-weight: 400;
  min-height: 240px;
  letter-spacing: normal;
  line-height: 20px;
  tab-size: 4;
  position: relative;
}

.preview-html {
  min-height: 240px;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  overflow: auto;
}

.preview-html .center-component {
  width: 100%;
}

.heading-component {
  background-color: rgb(250, 251, 252);
  padding-left: 80px;
}

.heading-component .heading-text {
  padding-top: 48px;
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 32px;
  color: rgb(23, 43, 77);
}

.editor .content {
  min-height: 240px;
  width: 100%;
  background: transparent;
  border: none;
  border-radius: 0;
  resize: none;
  outline: none;
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
}

.content:focus {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Card */

.wait-state {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  padding: 8px 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-state {
  margin-right: 8px;
}

.card-state {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 148px;
  height: 32px;
  padding: 8px 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-state.wait-state {
  border-radius: 2px;
  background-color: #f7faff;
}

.card-state.reject-state {
  border-radius: 2px;
  background-color: #fff7f5;
}

.card-state.done-state {
  border-radius: 2px;
  background-color: #f5fffa;
}

.card-state.voided-state {
  border-radius: 2px;
  background-color: #f4f4f6;
}

.card-state.draft-state {
  border-radius: 2px;
  background-color: #f4f4f4;
}

.text-state {
  font-family: "Helvetica neue", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.text-state.wait-text {
  color: #4c9aff;
}

.text-state.reject-text {
  color: #de350b;
}

.text-state.done-text {
  color: #00875a;
}

.text-state.voided-text {
  color: #c1c7d0;
}

.text-state.draft-text {
  color: #7a869a;
}

.table-index {
  border-spacing: 0 12px;
  min-width: 100%;
  border-collapse: separate;
}

.table-index tbody tr {
  box-shadow: 0px 1px 4px rgba(4, 80, 193, 0.1);
  border-radius: 2px;
  overflow: hidden;
}

.table-index td {
  padding: 13px 10px;
  border-right: none;
  font-family: "Helvetica neue", sans-serif;
}

.table-index th {
  padding: 0 10px;
  border-right: none;
  background-color: transparent;
  font-family: "Helvetica neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #7a869a;
}

.table-index td:first-child {
  padding-left: 20px;
}

.table-index td:last-child {
  text-align: right;
  padding-right: 20px;
}

.file-name-index {
  color: #253858;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
}

.user-name-index {
  color: #b3bac5;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 192px;
}

.day-created-index {
  color: #253858;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80px;
}

/* Button */

.e-btn {
  background-color: #0052cc;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 10px 12px;
  font-family: "Helvetica neue", sans-serif;
  font-size: 14px;
}

.e-btn:hover {
  background-color: #0450c1;
}

.e-btn:disabled {
  background-color: #ebecf0;
  color: #b3bac5;
}

.e-btn.btn-transparent {
  background-color: transparent;
  color: #0052cc;
}

/* Form */

.form-label-text {
  font-family: "Helvetica neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #505f79;
}

.form-input {
  margin-top: 8px;
  padding: 12px;
  border: 1px solid #97a0af;
  border-radius: 2px;
  color: #253858;
  font-family: "Helvetica neue", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.form-input::placeholder {
  color: #97a0af;
  font-family: "Helvetica neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

/* Modal */

.e-background-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(183, 183, 183, 0.85);
  z-index: 9999;
}

.e-background-modal.e-hidden {
  display: none;
}

.e-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
}

.e-modal .e-heading-modal {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #b3bac5;
  padding: 12px 20px 12px 24px;
}

.e-modal .e-body-modal {
  padding: 24px;
}

.e-body-modal .e-two-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 48px;
}

/* Navbar */

.e-navbar {
  overflow: hidden;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(26, 86, 197, 0.1);
  display: flex;
  justify-content: space-between;
}

.e-navbar .navbar-left {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.e-navbar .navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .navbar-divider {
  width: 1px;
  background-color: #c1c7d0;
  height: 100%;
}

.navbar-right .navbar-user {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-right: 40px;
}

.navbar-right .navbar-notification {
  margin-right: 20px;
}

#notification-icon:hover {
  fill: #4c9aff;
}

.navbar-left .navbar-logo {
  padding: 16px;
  width: 150px;
}

.navbar-left .navbar-list-menu {
  display: flex;
  list-style: none;
  margin: 0 0 0 100px;
  padding: 0;
}

.navbar-list-menu .navbar-list-item a {
  text-decoration: none;
  color: #7a869a;
  font-family: "Helvetica neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 32px;
}

.navbar-list-item.active a {
  color: #091e42;
  font-weight: 500;
}

.navbar-user .user-arrow {
  height: 0px;
  width: 0px;
  border-top: 7px solid #c1c7d0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.user-arrow.rotate {
  transform: rotate(180deg);
}

.navbar-user .user-icon {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #505f79;
  font-family: "Helvetica neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-right: 12px;
}

.navbar-user:hover > .user-arrow {
  border-top: 7px solid #4c9aff;
}

.navbar-user:hover > .user-icon {
  background-color: #4c9aff;
}

/* Side menu */

.side-menu-container {
  width: 232px;
}

.e-side-menu {
  padding: 0;
  margin: 0;
}

.e-side-menu .side-list-item {
  list-style: none;
  padding: 8px 13px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-list-item .list-item-arrow {
  height: 0px;
  width: 0px;
  border-top: 7px solid #c1c7d0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.e-side-menu .side-list-item a {
  width: 100%;
  font-family: "Helvetica neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #091e42;
  text-decoration: none;
}
