@font-face {
  src: url(/fonts/helvetica-neue-regular.ttf);
  font-family: Helvitica-Neue;
}

body {
  font-family: "Helvitica-Neue", sans-serif;
}

.heading-menu {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(23 43 77);
  margin-bottom: 20px;
}

.heading-component {
  background-color: rgb(250, 251, 252);
  padding-left: 80px;
}

.heading-component .heading-text {
  padding-top: 48px;
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 32px;
  color: rgb(23, 43, 77);
}

.component-body {
  margin-top: 40px;
}
